/* Untuk Tablet */
@media all and (max-width: 1000px) {
.header {
  right:8px;
  height: 35px;
  width:100%;
 
}

.header-kanan a {
  margin-top:0px;
  line-height: 35px;
  padding: 0 3px;
 }
.logo {
	height:35px;
}
/* bagian utama*/

.head-slider { 
	margin:30px;
	width: 430px;
	
}
 
.isi-slider img { 
width:430px;	
}

.extra_satu {
  height:350px;
}
.biodata {
    width: 18%;
}

.BAGIAN-EXTRA-2 {
	height:1000px;
	background-position: center;
}
.img-gambar {
	padding:5px;
	height:100px;
	width:100px;
	}

 
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
.header-kanan {
	display: none;
}
	
.menu-icon{
    display:block;
  }
