
/*
HEADER & FOOTER
*/

body{
	background-image: url("latar.PNG");
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 50px;
  width:100%;
  z-index:10px;
  top:0;
  position:fixed;
  opacity:0.8;
}
.header-kiri {
  float: left;
}

.header-kanan a {
  margin-top:0px;
  line-height: 50px;
  padding: 0 25px;
  color: white;
  display: block;
  float: right;
  transition: all 0.5s;
}
.header-kanan a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  opacity:1;
  border-radius:25px;
}
.header-kanan a:active {
	border-radius:30px;
	background-color: rgba(255, 255, 255, 0.3);
}
.logo {
	height:50px;
}


.footer{
	height: 45px;
	background-color: #FAEBD7;
	padding: 20px 10px 5px 10px;
}

.footer-text{
	float: right;
}
/*
BAGIAN-EXTRA-1
*/
.extra_satu {
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
  height:400px;
  width:90%
}

.heading {
  padding-top: 50px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.biodata {
  float: left;
  width: 20%;
  
}

.foto_diri {
  /*
  position: relative;
*/
}
.foto_diri img{
  width : 80%;
  height: 120px;
  border-radius: 25px 55px;
 
}
.info {
	padding-top: 1px;
}
.info h3 {
  font-weight: normal;
  margin-top:1px;
  margin-bottom:1px;
}
.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 2px;
  margin-bottom:2px;
  font-size: 10px;
}
.txt-quotes {
   font-size: 9px;
   font-family : "Monotype Corsiva";
   color: #7f8c8d;
   margin-bottom:1px;
   margin:1px 5px 1px 6px;
}
/*
.extra_dua {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
*/
/*
BAGIAN-EXTRA-2
*/

.BAGIAN-EXTRA-2 {
	padding:10px 0 100px 0;
	background-image:url('gelas2.jpg');
	background-size:cover;
	color: #3b5998;
	text-align:center;
	

}
.gambar1 {
float:left;
width:20%;
}
p {
	margin-top:2px;
}
.text {
	width: 80%;
	display: inline-block;
	margin-top:1.5px;
	margin-bottom:2px;
	font-size: 15px;
	color:black;
	text-align: justify;
	}
.img-gambar {
	border:1px solid #ddd;
	border-radius:30%;
	padding:5px;
	width:70px;
	}
.img-gambar:hover {
	box-shadow:0 0 2px 1px rgba(0, 140, 188,0.5);

}